DB_HOST=127.0.0.1
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=cp_snowflake_api_test
LOCAL_ENVIRONMENT=true
SECRET=django-secret
DEBUG=true
USE_REAL_SNOWFLAKE=true
LOG_LEVEL=DEBUG
HAS_SECURITY_CREDENTIALS=false
CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=
ROLE_PREFIX=DEV_CSST_MDP_Cockpit_
REDIRECT_URI='/login'
AUTHORIZED_AUDS="aud1, aud2"
TEST_WITH_REAL_SSO=true
TEST_ADMIN_SSO_USERNAME=[askMe]
TEST_ADMIN_SSO_PASSWORD=[askMe]
TEST_WRITE_SSO_USERNAME=[askMe]
TEST_WRITE_SSO_PASSWORD=[askMe]
TEST_READ_SSO_USERNAME=[askMe]
TEST_READ_SSO_PASSWORD=[askMe]
RESOURCE_ID=[askMe]
CLIENT_CREDENTIAL_ID=[askMe]
CLIENT_CREDENTIAL_SECRET=[askMe]
ELEMENT_PROTOCOL=https
ELEMENT_USERNAME=
ELEMENT_PASSWORD=
ELEMENT_URL=cargill.elementanalytics.com
ELEMENT_ORG_ID=106
ELEMENT_REGION_PIPELINE=1364
ELEMENT_REGION_FLOW=67400
ELEMENT_TECHNOLOGY_PIPELINE=987
ELEMENT_TECHNOLOGY_FLOW=791737
ELEMENT_PLANT_PIPELINE=986
ELEMENT_PLANT_FLOW=365316
ELEMENT_MTPM_PIPELINE=1373
ELEMENT_MTPM_FLOW=869637
ELEMENT_PLANTTECHNOLOGY_PIPELINE=989
ELEMENT_PLANTTECHNOLOGY_FLOW=996971
ELEMENT_LEADING_INDICATOR_PIPELINE=1367
ELEMENT_LEADING_INDICATOR_FLOW=869637
